<div class="content-heading">
    TenantSmart
</div>
<div class="row">
    <!-- START dashboard main content-->
    <div class="col-lg-7">
        <div *ngFor="let loc of buildings">
            <div class="panel b">
                <div class="panel-heading">
                    <h4>{{loc.name | uppercase}}</h4>
                    <strong>{{loc.address}}</strong>
                    <button class="btn btn-xs btn-default pull-right">Manage</button>
                </div>
                <div class="panel-body">
                    <div class="col-lg-4 col-md-6" *ngFor="let val of loc.metrics">
                        <!-- START panel-->
                        <div class="panel {{val.color}}">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <em class="fa {{val.icon}} fa-3x"></em>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="text-md">{{val.value}}</div>
                                        <p class="m0">{{val.title}}</p>
                                    </div>
                                </div>
                            </div>
                            <a class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                                <span class="pull-left">Details</span>
                                <span class="pull-right">
                                    <em class="fa fa-chevron-circle-right"></em>
                                </span>
                            </a>
                        </div>
                        <!-- END panel-->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- END dashboard main content-->
    <!-- START dashboard sidebar-->
    <aside class="col-lg-5">
        <div class="row">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="pull-right label bg-primary-light">{{notifications.length}}</div>
                        <div class="panel-title">NOTIFICATIONS</div>
                    </div>
                    <!-- START list group-->
                    <scrollable class="list-group" height="360">
                        <!-- START list group item-->
                        <span *ngFor="let item of notifications">
                            <a class="list-group-item">
                                <div class="media-box">
                                    <div class="pull-left">
                                        <img class="media-box-object img-square thumb64" [src]="item.image" alt="Image" />
                                    </div>
                                    <div class="media-box-body clearfix">
                                        <p>
                                            <strong class="media-box-heading text-primary">{{item.name}}
                                                <small class="text-muted">{{item.address}}</small>
                                            </strong>
                                        </p>
                                        <div class="list-group mb0">
                                            <a *ngFor="let row of item.alerts" class="list-group-item bt0">
                                                <span class="label label-purple pull-right">{{row.time}}</span>
                                                <em class="fa fa-fw {{row.icon}} mr"></em>{{row.text}}</a>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </span>
                        <!-- END list group item-->
                    </scrollable>
                    <!-- END list group-->
                    <!-- START panel footer-->
                    <div class="panel-footer clearfix">
                        <div class="input-group">
                            <input class="form-control input-sm" type="text" placeholder="Search notifications..." />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!-- END panel-footer-->
                </div>
            </div>
        </div>
    </aside>
    <!-- END dashboard sidebar-->
</div>